  @media screen and (min-width: 900px) {
    .services-section {
        height: 100vh;   
        padding: 5pc 0 5pc 0; 
}
}
  
  @media screen and (max-width: 900px) {

  }

/* services section */
.services-section {
    position: relative;
    overflow: hidden;
  }
  
  /* portfolio section */
  .portfolio-section {
    position: relative;
    overflow: hidden;
  }