/* Contact Page */

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 900px) and (max-width: 1200px) {

}

@media screen and (min-width: 500px) and (max-width: 1200px) {
 
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
 
}

@media screen and (max-width: 500px) {

}

.form-section {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
