@media screen and (min-width: 900px) {
  .footer-input {
    width: 100%;
  }
}

  @media screen and (max-width: 900px) {
    .footer-input {
    padding: 0 40px;
    }
  }

  .contact-input {
    width: 50%;
    font-size: 40px;
    padding: 3px 12px 6px 12px;
    margin: 10px 2px 30px 2px;
    border: none;
    border-bottom: solid var(--primaryColor) 5px;
  }

.footer-input {
    font-size: 15px;
    padding: 5px 5px 5px 0;
    margin: 5px 1px 15px 0;
    line-height: 2pc;
    border: none;
    border-bottom: solid var(--primaryColor) 3px;
  }

  .modal-input {
    font-size: 20px;
    padding: 3px 12px 6px 12px;
    margin: 5px 1px 15px 0;
    border: none;
    border-bottom: solid var(--primaryColor) 3px;
  }

  .input {
    background: transparent;
    /* border: none; */
    color: var(--textColor);
    outline: none;
    font-family: "Rubik", sans-serif;
    filter: drop-shadow(55px -2px 30px #5e76f6);
  }
  
  .input:focus {
    width: 100%;
    transition: width 4s;
    color: var(--primaryColor);
  }
  
  .input::placeholder {
    color: var(--textColor);
  }
  
  .input:not(:placeholder-shown) {
    width: 100%;
    color: var(--primaryColor);
  }
  
  .input:focus::placeholder {
    color: var(--primaryColor);
    font-weight: bold;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
    -webkit-text-fill-color: var(--primaryColor);
  }
  
  .input textarea {
    height: 20px;
  }

  .checkbox-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 60%; */
    padding: 5pc;
    font-size: 25px;
    text-shadow: 5px 5px 24px #5e76f6, -5px 5px 36px #5e76f6, 6px 5px 29px #5e76f6, -2px -5px 10px #5e76f6;
    filter: drop-shadow(55px -2px 30px #5e76f6);
  }
  
  .checkbox-section label {
    z-index: 10;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    text-shadow: 5px 5px 24px #5e76f6, -5px 5px 36px #5e76f6, 6px 5px 29px #5e76f6, -2px -5px 10px #5e76f6;
        box-shadow: -4px 5px 17px 8px #5e76f6;
        z-index: 5;
  }

  .submit-form {
    background: transparent;
    border: solid var(--primaryColor) 2px;
    height: 3pc;
    width: 35%;
    color: var(--primaryColor);
    /* margin: 0 auto; */
  }

  .submit-form:hover {
    animation: colorSlide 5s;
    background: var(--primaryColor);
    color: var(--textColor);
  }

