@media screen and (min-width: 900px) {
  #header-lightblue {
    left: 28pc;
    top: 80px;
  }

  #header-blue1 {
    left: 0;
    margin-left: -80px;
    top: 25px;
    z-index: 0;
  }

  #header-blue2 {
    top: 15pc;
    right: 0;
    margin-right: -80px;
  }
}

@media screen and (max-width: 900px) {
  #header-lightblue {
    left: 5px;
    bottom: 20px;
  }

  #header-blue1 {
    left: 0;
    margin-left: -180px;
    top: 80px;
    z-index: 0;
  }

  #header-blue2 {
    bottom: 0;
    right: 0;
    margin-right: -201px;
  }
}

.shapes {
  position: absolute;
  background: none;
  width: 95%;
  height: 90%;
  z-index: -2;
}

/* shape logos */
/* small logo */
.shape-logo {
  text-align: center;
  padding-right: 10px;
  background: none;
  filter: drop-shadow(0 0 75px var(--blurColor));
  text-shadow: 0 0 5px var(--blurColor), 0 0 10px var(--blurColor), 0 0 15px var(--blurColor),
    0 0 20px var(--blurColor), 0 0 30px var(--blurColor),
    0 0 40px var(--blurColor), 0 0 55px var(--blurColor),
    0 0 75px var(--blurColor);
}

.circle {
  background: none;
  border: solid var(--logoColor) 5px;
  width: 4.2pc;
  height: 4.2pc;
  border-radius: 30pc;
  position: relative;
  filter: drop-shadow(2px -9px 8px #5e76f6);
}

.square {
  border: solid var(--logoColor) 5px;
  width: 2.1pc;
  height: 2.1pc;
  margin: 0 auto;
  position: absolute;
  right: 12px;
  top: 12px;
  filter: drop-shadow(-2px 19px 8px #5e76f6);
}


.diamond {
  border: solid var(--logoColor) 5px;
  margin: 0 auto;
  height: 0.6pc;
  width: 0.6pc;
  transform: rotate(45deg);
  position: absolute;
  right: 7px;
  top: 7px;
  filter: drop-shadow(-6px 3px 34px #5e76f6);}

/* logo 1 */
.shape-logo-1 {
  background: none;
  animation: roll-updown 90s ease both infinite;
  z-index: -1;
  /* position: fixed; */
  right: 60px;
}

.circle-1 {
  background: transparent;
  border: solid blue 5px;
  width: 4pc;
  height: 4pc;
  border-radius: 30pc;
  position: relative;
  z-index: -1;
}

.square-1 {
  background: transparent;
  border: solid blue 5px;
  width: 2pc;
  height: 2pc;
  margin: 0 auto;
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: -1;
}

.diamond-1 {
  background: transparent;
  border: solid blue 5px;
  margin: 0 auto;
  height: 0.7pc;
  width: 0.7pc;
  transform: rotate(45deg);
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: -1;
}
/* logo 2 */
.shape-logo-2 {
  background: none;
  animation: roll-updown 60s ease both infinite;
  z-index: -1;
  /* position: fixed; */
  right: 60px;
}

.circle-2 {
  background: transparent;
  border: solid blue 5px;
  width: 4pc;
  height: 4pc;
  border-radius: 30pc;
  position: relative;
  z-index: -1;
}

.square-2 {
  background: transparent;
  border: solid blue 5px;
  width: 2pc;
  height: 2pc;
  margin: 0 auto;
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: -1;
}

.diamond-2 {
  background: transparent;
  border: solid blue 5px;
  margin: 0 auto;
  height: 0.7pc;
  width: 0.7pc;
  transform: rotate(45deg);
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: -1;
}

.shape-logo-3 {
  background: none;
  animation: roll-updown 60s ease both infinite;
  z-index: -1;
  /* position: fixed; */
  left: 60px;
}
/* small logo end*/

/* big logo */
.big-shape-logo {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
  animation: roll-in-left-boom 3s ease-out both;
  filter: drop-shadow(10px 5px 37px var(--blurColor));
}

.big-shape-circle {
  border: solid var(--logoColor) 10px;
  width: 20pc;
  height: 20pc;
  border-radius: 30pc;
  position: relative;
  filter: drop-shadow(10px 5px 37px var(--blurColor));
}

.big-shape-square {
  border: solid var(--logoColor) 10px;
  width: 12pc;
  height: 12pc;
  margin: 0 auto;
  position: absolute;
  right: 52px;
  top: 52px;
  filter: drop-shadow(10px 5px 37px var(--blurColor));
}

.big-shape-diamond {
  border: solid var(--logoColor) 10px;
  margin: 0 auto;
  height: 6pc;
  width: 6pc;
  transform: rotate(45deg);
  position: absolute;
  right: 36px;
  top: 36px;
  filter: drop-shadow(10px 5px 37px var(--blurColor));
}

.blob {
  filter: drop-shadow(10px 5px 37px var(--blurColor));
}

.header-blob {
  position: absolute;
  /* z-index: -10; */
  opacity: 90%;
}

.services-blob {
  position: absolute;
  z-index: -10;
  opacity: 90%;
}

.contact-blob {
  position: absolute;
  /* z-index: -10; */
  opacity: 90%;
}

/* #header-lightblue {
  left: 0;
  margin-left: -80px;
  top: 25px;
  z-index: 0;
}


#header-blue {
  left: 28pc;
  top: 80px;
}

#header-blue2 {
  top: 15pc;
  right: 0;
  margin-right: -80px;
} */

#services-lightblue {
  left: 0;
  margin-left: -80px;
  top: 25px;
}

#services-blue {
  top: 15pc;
  right: 0;
  margin-right: -10.5pc;
  padding: 0 4pc 0 4pc;
}

#services-pink {
  top: 15pc;
  right: 0;
  margin-right: -80px;
}
